APP_CONTROLLERS_PATH=/controllers/*.controller.ts

DB_ENTITIES=src/models/*.entity.ts
DB_SUBSCRIBERS=src/models/*.subscriber.ts

DB_HOST=localhost
DB_PORT=15432
DB_NAME=maindb
DB_USER=maindb
DB_PASSWORD=maindb

POSTGRES_DB=maindb
POSTGRES_USER=maindb
POSTGRES_PASSWORD=maindb

JWT_SECRET_KEY=change-me
JWT_ACCESS_TOKEN_LIFETIME=3600
